<%= form_with(model: user, local: true, html: {class: 'form-horizontal'}) do |form| %>
  <% if user.errors.any? %>
    <br>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "Error,") %> Prohibido guardar este usuario:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, 'Nombre', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= form.text_field :name, id: :user_name, required: true, class: 'form-control', placeholder: 'Nombre' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :email, 'Correo electrónico', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= form.email_field :email, id: :user_email, required: true, class: 'form-control', placeholder: 'Correo electrónico' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :cellphone, 'Teléfono celular', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= form.telephone_field :cellphone, id: :user_cellphone, required: true, class: 'form-control', placeholder: 'Teléfono celular' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :telephone, 'Teléfono fijo', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= form.telephone_field :telephone, id: :user_telephone, required: true, class: 'form-control', placeholder: 'Teléfono fijo' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= form.submit 'Registrar', class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
