<div class="container-fluid">
  <div class="jumbotron">
    <p id="notice">
      <strong><%= notice %></strong>
    </p>

    <h1>Clientes</h1>

    <%= link_to 'Registrar cliente', new_user_path, class: 'btn btn-default' %>
    <%= link_to 'Volver atrás', root_path, class: 'btn btn-default' %>
    <br><br>

    <div class = "center-table table-responsive">
      <table class="table table-striped table-bordered table-center" >
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Correo electrónico</th>
            <th>Teléfono celular</th>
            <th>Teléfono fijo</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.cellphone %></td>
              <td><%= user.telephone %></td>
              <td><%= link_to 'Ver', user %></td>
              <td><%= link_to 'Editar', edit_user_path(user) %></td>
              <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: '¿Estás seguro de eliminar este cliente?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
