<div class="container-fluid">
  <div class="jumbotron">
    <p id="notice">
      <strong><%= notice %></strong>
    </p>

    <h1>Registro de cliente</h1>

    <%= link_to 'Editar', edit_user_path(@user), class: 'btn btn-default' %>
    <%= link_to 'Volver atrás', users_path, class: 'btn btn-default' %>
    <br><br>

    <p>
      <strong>Nombre:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Correo electrónico:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Teléfono celular:</strong>
      <%= @user.cellphone %>
    </p>

    <p>
      <strong>Teléfono fijo:</strong>
      <%= @user.telephone %>
    </p>
  </div>
</div>
