<%= form_with(model: soccerfield, local: true, html: {class: 'form-horizontal'}) do |form| %>
  <% if soccerfield.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(soccerfield.errors.count, "error") %> prohibited this soccerfield from being saved:</h2>

      <ul>
      <% soccerfield.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :user_id, 'Cliente', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= form.select :user_id, @user.collect {|u| [ u.name, u.id ] }, { include_blank: 'Seleccione un cliente' }, {id: :soccerfield_user_id, required: true, class: 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :date, 'Fecha', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= form.date_field :date, id: :soccerfield_date, required: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :time, 'Horario', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= form.time_field :time, id: :soccerfield_time, required: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :code, 'Código cancha', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= form.select :code, @code, {include_blank: 'Seleccione una cancha'}, {id: :soccerfield_code, selected: @set, required: true, class: 'form-control'} %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= form.submit 'Registrar', class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
