<%= form_with(model: soccerfield, local: true) do |form| %>
  <% if soccerfield.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(soccerfield.errors.count, "error") %> prohibited this soccerfield from being saved:</h2>

      <ul>
      <% soccerfield.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :soccerfield_code %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.number_field :state, id: :soccerfield_state %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :soccerfield_date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time, id: :soccerfield_time %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :soccerfield_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
