<div class="container-fluid">
  <div class="jumbotron">
    <p id="notice">
      <strong><%= notice %></strong>
    </p>

    <h1>Registro de arriendo</h1>

    <%= link_to 'Editar', edit_soccerfield_path(@soccerfield), class: 'btn btn-default' %>
    <%= link_to 'Volver atrás', soccerfields_path, class: 'btn btn-default' %>
    <br><br>

    <p>
      <strong>Cliente:</strong>
      <%= @soccerfield.user.name %>
    </p>

    <p>
      <strong>Estado:</strong>
      <%= @soccerfield.state %>
    </p>

    <p>
      <strong>Fecha:</strong>
      <%= @soccerfield.date.to_time.strftime("%d/%m/%Y") %>
    </p>

    <p>
      <strong>Horario:</strong>
      <%= @soccerfield.time.to_time.strftime("%H:%M") %>
    </p>

    <p>
      <strong>Código cancha:</strong>
      <%= @soccerfield.code %>
    </p>    
  </div>
</div>
